.landing-background-top {
  background-image: url("/images/background-photo.png");
  background-size: cover;
}

.landing-background-bottom {
  background-image: url("/images/landing-bottom-background.png");
  background-size: cover;
}

.landing-volunteer-ally-logo {
  padding-top: 100px;
  padding-bottom: 100px;
}

.landing-header-1 {
  color: white;
  font-family: Accordion;
  font-size: xxx-large;
  padding-bottom: 100px;
}

.landing-header-2 {
  color: white;
  font-family: Accordion;
  font-size: x-large;
  padding-bottom: 300px;
}

.landing-header-3 {
  color: darkcyan;
  font-size: x-large;
  font-family: Accordion;
}

.landing-descriptions {
  font-size: x-large;
  font-family: Accordian;
}

.landing-bottom-header-1 {
  font-size: xxx-large;
  color: white;
  padding-top:50px;
}

.landing-bottom-header-2 {
  font-size: large;
  color: white;
}

.event-profile-top-background {
  background: url('images/red-cross.jpeg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
}