.landing-background-top {
  background-image: url("/images/background-photo.png");
  background-size: cover;
}

.landing-volunteer-ally-logo {
  padding-top: 10px;
}

.landing-header-1 {
  color: white;
  font-family: Accordion;
  font-size: xxx-large;
}

.landing-header-2 {
  color: white;
  font-family: Accordion;
  font-size: x-large;
  padding-bottom: 300px;
}

.landing-header-3 {
  color: darkcyan;
  font-size: x-large;
  font-family: Accordion;
}

.landing-descriptions {
  font-size: x-large;
  font-family: Accordian;
}


